<div class="block mx-auto my-12 p-8 bg-white w-1/3 border border-gray-200 rounded-lg shadow">
    <h1 class="text-3xl font-bold text-center">LOGIN</h1>

    <form action="" method="POST" class="mt-4">
        
        <input type="text" name="email" placeholder="Email" class="rounded bg-gray-200 border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 focus:bg-white" required>

        <input type="password" name="password" placeholder="Password" class="rounded bg-gray-200 border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 focus:bg-white" required>

        <button type="submit" class="rounded-md bg-green-500 w-full text-lg text-white font-semibold p-2 my-3 hover:bg-green-600 focus:bg-green-700">Send</button>
    
        {{#if error}}
            <p class="text-red-500 font-bold text-lg my-3">{{error}}</p>
        {{/if}}
    </form>
</div>