<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>
    
    <!-- Tailwind CSS Link -->
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">

    <!-- Fontawesome Link -->
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
 
  </head>
  <body class="bg-gray-200">
   
   {{!-- Sidebar --}}
    <nav class="flex py-5 bg-green-500 text-white px-24">
        {{!-- title logo --}}
        <div class="w-1/2 px-12 mr-auto">
            <h1 class="text-2x1 font-bold">My aplication</h1>
        </div>

        {{!-- buttons login --}}
        <ul class="w-1/2 px-16 ml-auto flex justify-end pt-1">
            {{#if name}}
                <li class="nav-item px-4">
                    <p class="font-semibold">{{name}}</p>
                </li>
                
                <li class="nav-item px-4">
                    <a href="/logout" class="nav-link font-semibold bg-red-500 text-white hover:bg-red-700 py-3 px-4 rounded-md transition-all">
                        Logout
                    </a>
                </li>

            {{else}}

                <li class="nav-item px-4">
                    <a href="/login">Login</a>
                </li>

                <li class="nav-item px-4">
                    <a href="/register" class="nav-link font-semibold border-2 border-white hover:bg-white hover:text-green-700 py-3 px-4 rounded-md transition-all">
                        Register
                    </a>
                </li>
            {{/if}}  
        </ul>
    </nav>

    {{{body}}}

  </body>
</html>